# Node
node_modules/
**/node_modules/
dist/
**/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Java
target/
*.class

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar